# {{ ansible_managed }}

setopt inc_append_history histignorealldups share_history

# Keep 100000 lines of history within the shell and save it to ~/.zsh_history:
HISTSIZE=100000
SAVEHIST=100000
HISTFILE=~/.zsh_history

###########
# Antigen #
###########
source ~/antigen.zsh

# Load the oh-my-zsh's library.
antigen use oh-my-zsh

# Bundles from the default repo (robbyrussell's oh-my-zsh).
antigen bundle extract
antigen bundle web-search
antigen bundle git
antigen bundle git-extras
antigen bundle tmux
antigen bundle docker
antigen bundle docker-compose
antigen bundle command-not-found

# CPU, RAM, and load monitor for use with tmux
antigen bundle thewtex/tmux-mem-cpu-load

# Syntax highlighting bundle.
antigen bundle zsh-users/zsh-syntax-highlighting

# Load the theme.
antigen theme ys

# Tell Antigen that you're done
antigen apply

# load other dot files
for file in ~/.{aliases,functions,exports}; do
	if [[ -r "$file" ]] && [[ -f "$file" ]]; then
		source "$file"
	fi
done
unset file
